
@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNovaRegular.otf);
}

body{
  font-family: ProximaNova;
  font-size:16px;
}

.dropdown a {
color: #337ab7;
text-decoration: none;
}

.navbar {
  max-height: 50px;
}

.crowdfluttr-nav {
      height: 100px;
      width: 200px;
      margin-left: 20%;
      margin-top: -25px;
  }

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

    #feedback-success #alert-success {
      position: relative;
      display: block;
      color: black;
    }

    #slideout {
      position: fixed;
      z-index: 9999;
      top: 40px;
      left: 0;
      width: 35px;
      padding: 12px 0;
      color: #fff;
      text-align: center;
      background: #6DAD53;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-border-radius: 0 5px 5px 0;
      -moz-border-radius: 0 5px 5px 0;
      border-radius: 0 5px 5px 0;
    }
    #slideout_inner {
      position: fixed;
      top: 40px;
      left: -350px;
      background: #6DAD53;
      width: 350px;
      padding: 25px;
      height: 500px;
      -webkit-transition-duration: 0.3s;
      -moz-transition-duration: 0.3s;
      -o-transition-duration: 0.3s;
      transition-duration: 0.3s;
      text-align: left;
      -webkit-border-radius: 0 0 5px 0;
      -moz-border-radius: 0 0 5px 0;
      border-radius: 0 0 5px 0;
    }
    #slideout_inner textarea {
      width: 300px;
      height: 100px;
      margin-bottom: 6px;
    }
    #slideout:hover {
      left: 350px;
      z-index: 9999;
    }
    #slideout:hover #slideout_inner {
      left: 0;
      z-index: 9999;
    }

  .sub-text {
    font-size: 80%;
    color: #888888;
  }

     .avatar {
      width: 40px;
      height: 40px;
      -webkit-border-radius: 50%; /* Can also be 55px */
      -moz-border-radius: 50%;
      border-radius: 50%;
      background-position: center center;
      background-size: cover;
     }

     .avatar-container {
        width: 40px;
        height: 40px;
        display: block;
     }

      #crowdfluttr {
  width: 186px;
  height: 90px;
  margin-top: -20px;
  margin-bottom: -20px;
      }
      #navsearch{
      margin:10px 0px 10px 300px;
      float:left;
      text-align: center;
      z-index: -1;

      }

#ideaContent{
  height: 200px;
  width: 200px;
  background-color: grey;
  border-radius: 10px;
  color: white;
      background-position: center center;
      background-size: cover;
}

.navbar-blue {
  background-color: #38a9e1;
  
  /*76c2bd*/
  border-color: #e7e7e7;
}
