<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Growl Test</title>


		<!-- THE TRIO -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>


		<script type="text/javascript" src="bower_components/angular-growl-notifications/dist/angular-growl-notifications.js"></script>
	<script src="float.js"></script>
	<script>
	// angular.module('app', ['growlNotifications']);
	</script>
	<style>
		growl-notifications{
		  position: fixed;
		  top: 150px;
		  right: 10px;
		}
		growl-notification{
		  border: 1px solid black;
		  padding: 15px 30px;
		  margin-bottom: 15px;
		}
	</style>
</head>
<body ng-controller="ctrl">
{{"Hello World!"}}

<div>
	<a href="#" ng-click="FacebookLogin()">Login</a>
</div>
<div ng-show="user">
	Hello, {{user.facebook.displayName}}. Your email is {{user.facebook.email}}.
	<br>
	<a href="#" ng-click="auth.$unauth()">Logout</a>
</div>
<growl-notifications></growl-notifications>
<growl-notification ng-repeat="item in cfFloat | filter:user.facebook.email">
		<a ng-href="/users/{{item.senderID}}">{{item.senderName}}</a> has shared <a ng-href="idea.html?id={{item.ideaID}}">"{{item.ideaID}}"</a> with you!
</growl-notification>
</body>
</html>