<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">
<head>
    <title ng-cloak ng-bind="ideaTitle">Fluttr|{{ideaTitle}}</title>
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="css/sb-admin-2.css" rel="stylesheet">
    <!--add plan ui-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- FontAwesome 4.2.0 -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <!-- Ionicons 2.0.0 -->
    <link href="http://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />

    <!-- Theme style -->
    <link href="css/AdminLTE.min.css" rel="stylesheet" type="text/css" />

    <!-- Custom Fonts -->
    <link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom Fonts -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link href="css/dataTables.bootstrap.css" rel="stylesheet">
    <!-- Tags CSS -->
    <link rel="stylesheet" type="text/css" href="http://xoxco.com/projects/code/tagsinput/jquery.tagsinput.css" />
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>

    <link href="css/angucomplete.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <link rel="shortcut icon" href="images/newlogofinal.png">
    <link rel="stylesheet" type="text/css" href="css/navbar.css" />

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
    <script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
    <script src="https://darylrowland.github.io/angucomplete/js/angular-touch.min.js"></script>
    <link rel="stylesheet" href="css/jquery.datetimepicker.css">
    <script type="text/javascript" src="js/jquery.datetimepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.8/angular-touch.min.js"></script>
    <script src="app.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/angucomplete-dir.js"></script>
    <script src="js/angucomplete-ctrl.js"></script>
    

    <link rel="stylesheet" href="css/colorbox.css" />
    <script src="js/colorbox.js"></script>
    <script>
    $(document).ready(function(){
    $(".iframe").colorbox({iframe:true, width:"80%", height:"80%"});
    if(!auth) {
    window.location.href="/";
    };
    });

    </script>
    <style>

</style>


</head>
<body>

<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-54f675d86cfade76" async="async"></script>

  <nav ng-include="'navbar.html'"  class="navbar navbar-default navbar-fixed-top" role="navigation"></nav>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


  <!-- Fluttr feedback form -->

    <div ng-include=" 'feedback.html' "></div>
  <!-- SideBar -->
    <div class=" sidebar" role="navigation">
    <div class="row">
      <div class="col-lg-12">
          <br><br><br><br><br><br>
          <a href="home.html"><button class="btn btn-primary btn-lg center-block">&laquo; Back to Home</button></a>
      </div>
    </div>
    </div>               
  <!-- Page Content -->
    <div id="page-wrapper" style="padding-bottom:50px;" ng-init="UserSessionSave()">
    <div class="container-fluid">
    <div class="row">
    <div class="col-lg-10">

    <!-- Idea Header -->
      <div class="idea-info" style="margin-top:100px;">
        <h2>{{ideaTitle}}</h2>
        <small>By: {{ideaAuthor}}</small>
        <p>{{ideaDesc}}</p>

        <button class="" ng-click="PrivateFloat()"></button><br>
        <p><!-- Go to www.addthis.com/dashboard to customize your tools -->
            <div class="addthis_jumbo_share"></div></p>
            
      </div>
    <!-- Tabs -->
      <ul class="nav nav-tabs" role="tablist" id="myTab">
        <li role="presentation" class="active "><a href="#Activity" role="tab" data-toggle="tab">Activity</a></li>
        <li role="presentation"><a href="#Plan" role="tab" data-toggle="tab">Plan</a></li>
        <!--
        <li role="presentation"><a href="#Work" role="tab" data-toggle="tab">Work Products<span class="badge">2</span></a></li>
        <li role="presentation"><a href="#Invite" role="tab" data-toggle="tab">Invite</a></li>
        -->
      </ul>
    <!-- Tab Content -->
      <div class="tab-content">
      <!-- Comments -->
        <div role="tabpanel" class="tab-pane fade in active" id="Activity">
        <div class="row">
        <div class="col-lg-12">

<div class="fb-comments" data-href="http://developers.facebook.com/docs/plugins/comments/" data-numposts="5" data-colorscheme="light"></div>
       
        
        
      <!-- Plan -->
        <div role="tabpanel" class="tab-pane fade in active" id="Plan">
        <div class="row">
        <div class="col-lg-12">
        <br><br>
        <ul class="media-list">
        <li class="media" ng-repeat="(id,item) in ideas_comments | filter:ideaID | orderBy: item.timestamp"> 
        <div class="media-left">
        <div class="avatar-container">
            <div class="avatar" style="background-image: url('https://graph.facebook.com/{{item.userID}}/picture?type=normal')"></div>
        </div>
        </div>
        <div class="media-body">
        <p class="">{{item.ic_body}}</p> <span class="date sub-text"><small>Posted by {{item.userName}} on {{item.timestamp | date:'EEEE, MMMM d, y h:mm:ss a '}} PST</small></span>
        </div>
        <hr>
        </li>
        </ul>
        <form class="form-inline" role="form" ng-submit="addCommentonIdea()" style="width:100%">
        <div class="form-group" style="width:80%">
        <input class="form-control" type="text" placeholder="Your comments" ng-model="newComment" style="width:100%">
        </div>
        <div class="form-group">
        <button type="submit" class="btn btn-default btn-block">Add Comment</button>
        </div>
        </form>
        </div><!-- /.col-lg-12 -->
        </div><!-- /.row -->
        </div>

  <div ng-include=" 'footer.html' "></div>


  <!-- Bootstrap core JavaScript

  <!- Javascript loads at end -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script>
    $(function () {
    $('#myTab a:first').tab('show')
    })
    </script>

  <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">New Proposal</h4>
    </div>
    <div class="modal-body">
    <form class="form" role="form" ng-submit="addProposal()">
    <div class="form-group">
    <label for="title">Proposal Title</label>
    <input type="text" class="form-control" id="text" ng-model="ptitle" placeholder="Title">
    </div>
    <div class="form-group">
    <label for="editor">Proposal Body</label>
    <textarea class="form-control" rows="10" style="width:100%" name="editor" id="editor" data-ng-model="value" required><div ng-repeat="(id,item) in revisions | filter: ideaID | orderBy: item.timestamp">{{item.pbody}}</div></textarea>
    <script>
    //   CKEDITOR.replace( 'editor' );
    </script>
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
    </div>
    </div>
    </form>
    </div>
    </div>

    <!-- sample modal content -->
    <div id="floatModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
    <div class="modal-content">

    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">Send Idea to a Friend</h4>
    </div>
    <div class="modal-body">
    <p>You can send your idea to a friend by typing in their email address. It's simple!</p>

    <form role="form" ng-submit="shareIdea()" id="float">
    <div class="form-group">
    <input ng-model="emails" id="tags_1" type="text" class="tags" value="" /></input>         
    </div>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-default" tab-index="-1" data-dismiss="modal">Close</button>
    <button type="submit" tab-index="-1" class="btn btn-primary">Save changes</button>
    </div>
    </form>
    </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- Modal -->
    <div class="modal fade" id="prModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
    <div class="modal-content">
    <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title" id="myModalLabel">{{item.$id}}</h4>
    </div>
    <div class="modal-body">
    {{item.pbody}}
    </div>
    <div class="modal-footer">
    Submitted by: {{item.userID}} on {{item.timestamp}}. <br>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
    </div>
    </div>
    </form>
    </div>
    </div>

  <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
  <script src="http://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script>
  <!-- AdminLTE App -->
  <script src="js/app.min.js" type="text/javascript"></script>
</body>
</html>
