<html ng-app="app">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.2/angular.min.js"></script>
		<script src="https://cdn.firebase.com/js/client/2.0.2/firebase.js"></script>
		<script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
		<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/jquery.fullPage.js"></script>

		<!-- Custom Fonts -->

		<link rel="stylesheet" type="text/css" href="css/tags.css" />
		<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
		<link rel="shortcut icon" href="images/logosm.png">
		<link rel="stylesheet" type="text/css" href="css/navbar.css" />
		<link rel="stylesheet" type="text/css" href="../css/maincarousel.css" />
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">

		<script>
			$(":input, a").attr("tabindex", "-1");	
		</script>

		<script src="app.js"></script>
		<script src="js/tags.js"></script>


		<script type="text/javascript">
		$(function() {
			$('#tags_1').tagsInput({width:'auto'});
		});
		</script>
	</head>
	<!-- 	<style type="text/css">
	#crowdfluttr {
	height: 55px;
	width: 200px;
	margin-left: 8%;
	}
	#navsearch{
	margin:10px 0px 10px 300px;
	float:left;
	text-align: center;
	z-index: -1;
	}
	</style> -->
	<body ng-controller="ctrl" >
		<nav ng-include="'navbar.html'"  class="navbar navbar-default navbar-fixed-top" role="navigation">
		</nav>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h2>What's your idea?</h2>
					<form role="form" ng-submit="UpdateFirebaseWithString()">
						<div class="form-group">
							<label for="idea-title"></label>
							<input type="text" class="form-control" ng-model="idea" id="idea-title" placeholder="">
						</div>

						<button type="submit" class="btn btn-primary btn-lg">Flut</button>
					</form>
						<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">Float</button>

				</div>
			</div>
			<hr>
			<footer>
				<p>Plug into the crowd</p>
			</footer>
		</div>

		<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
			<div class="modal-content">

			<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
			<h4 class="modal-title" id="myModalLabel">Send Idea to a Friend</h4>
			</div>
			<div class="modal-body">
			<p>You can send your idea to a friend by typing in their email address. It's simple!</p>

			<form role="form" ng-submit="shareIdea()">
			<div class="form-group">
			<input ng-model="emails" id="tags_1" type="text" class="tags" value="" /></input>					
			</div>
			</div>
			<div class="modal-footer">
			<button type="button" class="btn btn-default" tab-index="-1" data-dismiss="modal">Close</button>
			<button type="submit" tab-index="-1" class="btn btn-primary">Save changes</button>
			</div>
			</form>
			</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


		<script>
var app = angular.module("app", ["firebase"]);

app.constant("FBURL", "https://crowdfluttr.firebaseio.com/");

app.service("Ref", ["FBURL", Firebase]);

app.factory("Auth", ["$firebaseAuth", "Ref", function($firebaseAuth, Ref) {
  return $firebaseAuth(Ref);
}]);

app.factory("Ideas", ["$firebase", "Ref", function($firebase, Ref) {
  var childRef = Ref.child('ideas');
  return $firebase(childRef).$asArray();
}]);

app.factory("IdeasComments", ["$firebase", "Ref", function($firebase, Ref) {
  var childRef = Ref.child('idea-comments');
  return $firebase(childRef).$asArray();
}]);

app.factory("IdeasObject", ["$firebase", function($firebase) {
  var Ref = new Firebase('https://crowdfluttr.firebaseio.com/');
  var childRef = Ref.child('ideas');
  return $firebase(childRef).$asObject();
}]);


app.factory("Users", ["$firebase", function($firebase) {
  var Ref = new Firebase('https://crowdfluttr.firebaseio.com/');
  var childRef = Ref.child('users');
  return $firebase(childRef).$asArray();
}]);



app.factory("Messages", ["$firebase", "Ref", function($firebase, Ref) {
  var childRef = Ref.child('messages');
  return $firebase(childRef).$asArray();
}]);

app.factory("Proposals", ["$firebase", "Ref", function($firebase, Ref) {
  var childRef = Ref.child('proposals');
  return $firebase(childRef).$asArray();
}]);

app.factory("ProposalsComments", ["$firebase", "Ref", function($firebase, Ref) {
  var childRef = Ref.child('pr-comments');
  return $firebase(childRef).$asArray();
}]);

app.factory("Workplans", ["$firebase", "Ref", function($firebase, Ref) {
  var childRef = Ref.child('workplans');
  return $firebase(childRef).$asArray();
}]);

app.factory("WorkplansComments", ["$firebase", "Ref", function($firebase, Ref) {
  var childRef = Ref.child('wp-comments');
  return $firebase(childRef).$asArray();
}]);

app.controller("ctrl", ["$scope","$firebase","Ideas","IdeasComments","Auth","IdeasObject","Messages","Proposals","ProposalsComments","Workplans","WorkplansComments","Users", function($scope,$firebase,Ideas,IdeasComments,Auth,IdeasObject,Messages,Proposals,ProposalsComments,Workplans,WorkplansComments,Users) {
  $scope.ideas = Ideas;
  $scope.users = Users;
  $scope.ideas_comments = IdeasComments;
  $scope.ideas_object = IdeasObject; 
  $scope.auth = Auth;
  $scope.messages = Messages;
  $scope.proposals = Proposals;
  $scope.prcomments = ProposalsComments;
  $scope.workplans = Workplans;
  $scope.wpcomments = WorkplansComments;
  $scope.idea = "";

  
  $scope.UpdateFirebasUserWithString = function () {   
    $scope.users.set({
  alanisawesome: {
    date_of_birth: "June 23, 1912",
    full_name: "Alan Turing"
  }).then(function(Ref) {
      clearIdea();
    });
  };
  

app.run(["$rootScope", "Auth", function($rootScope, Auth) {
  $rootScope.user = Auth.$getAuth();
}]);
		</script>

	</body>
</html>